.objectives__slide__container{
    display: flex;
    width: 100%;
    height: 90vh;
     padding: 0 2rem;

}
.titles__section{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-end;
    
}
.objectives__section{
    height: calc(100vh - 50px);
    width: 50%;
    margin: 0;
    padding: 0;
    border-left: 1px ;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-left: 5px solid #000;
    margin-left: 3rem;
}
.objectives__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: -8.5%;
}
.titles__section h1{
    font-size: 4rem;
    font-weight: 900;
}
.titles__section h3{
    font-size: 2rem;
    width: 80%;
    line-break: normal;
}
.colors__container{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.circle{
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}
