.principio__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: -2.8%;
    min-height: 150px;
    height: 150px;
}

.small__circle {
    width: 5%;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 100%;
}

.principio__info {
    display: flex;
    gap: 2rem;
    width: 95%;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 15rem;
    min-height: 100px;
    height: 100%;
    flex: 1 1 0;
}

.big__circle {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 2rem;
    font-weight: 800;
}

.principio__info p {
    width: 60%;
    font-weight: 700;
}