.casos__page {
    width: 100%;
    height: calc(100vh - 10px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 2rem;
}

.info__container{
    width: 100%;
    height: 30%;
}

.grafico,
.caso__der,
.caso__izq {
    width: 30%;
    text-align: center;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 4rem;
}

.grafico {
    margin: 1rem;
    align-self: center;
}

.case__title {
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__title {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

