
.container{
    width: 99.5vw;
    display: flex;
    flex-direction: column;
    border: none;  
}
.module_main_container{
    width: 100%;
    display: flex;
    padding-left: 2rem;
    border: none;
    
}

.progress__bar{
    position: absolute;
    width: 102vw;
    padding: 0;
    margin: 0;
    left: -2rem;
    border: none;
}