.portada__container{
    display: flex;
    width: 100%;
    height: 90vh;
    padding: 0 2rem;

}
.titles__section{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    
}
.unities__section{
    width: 50%;
    margin: 0;
    padding: 0;
    border-left: 1px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titles__section h1{
    font-size: 4rem;
    font-weight: 900;
}
.titles__section h3{
    font-size: 2rem;
    width: 50%;
    line-break: normal;
}
.colors__container{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.circle{
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 100%;

}
